@charset "utf-8";
img{width: 100%;}
#wrap{ margin: 0 auto; }
.inner{width:375px; margin: 0 auto; position: relative;}
/*-----------------------------Mobile-----------------------------------*/
header{height: 70px; padding: 12px 25px; position: relative;
  background-color: rgba(255,255,255,0.6);
box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.3); }
h1{height: 46px;}
h1 a{display: block; height: 46px; 
background-image: url(../img/logo.png) ;
background-repeat: no-repeat;
background-size: auto 42px;
background-position: 0 center; color: transparent;
 font-size: 0;}
nav{display:none;}
.submit{display: none;}
header .menubar{display: block; position: absolute;
top:24px;right: 25px;}
header .menubar span{display: block;
width:40px; height: 5px; background-color: #0d1b56;
color: transparent; font-size: 0; margin: 5px 0;}
header .menubar::before, header .menubar::after{content: '';
display: block;width:40px; height: 5px; background-color: #0d1b56; }


#slide{width: 100%; height: 400px; background-color: #96a3b7;
margin-bottom: 58px;}
.txtbox{text-align: center; padding-top: 35px; }
.txtbox .txt1{font-size: 14px; color:#0a2b49; margin-bottom: 6px;}
.txtbox .txt2{color:#35197d; font-size: 20px; font-weight: bold;}
.cardbox{position: relative;
background-color: #fff; width: 340px; height: 195px; padding: 15px 15px; margin: 30px auto; }
.cardbox .txt3{text-align: center; font-size: 10px;}
.cardbox .txt4{text-align: center; font-size: 15px; color: #f12d68;
   font-weight: bold; margin-bottom: 20px;}
.cardbox .txt5{font-size: 12px; color: #777; margin-bottom: 10px;}
.cardbox .txtin{position: absolute; top:80px; left: 170px;}
.cardbox .txtin a{display: block; background-color: #fea6ba; 
font-size: 12px; color: #842d40; width: 70px; height: 30px;
text-align: center; line-height: 30px; border-radius: 20px;  float: left;
margin-right: 10px;}
.card4{width: 45%;}
#slide ul{padding: 5px 0px; border-top: 1px solid #96a3b7;
margin-top: 8px; text-align: center;}
#slide ul li{float: left; margin-right: 4px;}
#slide ul li:last-child{margin-right: 0;}
#slide ul li a{font-size: 8px; color: #737273;}
#slide .btn{position: absolute; top:350px; left: 50%;
transform: translateX(-50%);  font-weight: bold; }
#slide button span{display:block; width: 25px; height: 15px; 
border-radius: 20px; background-color: #fff; 
color: transparent; font-size: 0; margin-right: 10px; float: left;}
#slide button:last-child span{ display:block; 
background-color: #fff; border-radius: 20px; width: 75px;
height: 15px; margin-right: 0; float: left;}

#sec01{text-align: center; margin-bottom: 120px;}
h2{font-size: 20px; margin-bottom: 40px;}
#sec01 .txt01{font-size: 25px; color: #1058c7; margin-bottom: 20px;}
#sec01 .txt02{font-size: 17px; margin-bottom: 55px;}
#sec01 ul li{float: left ; width: 80%; margin:0 10%;
  border: 1px solid rgb(197, 189, 189); }
  #sec01 ul li:nth-child(2), #sec01 ul li:nth-child(1){display: none;}
#sec01 ul li:last-child{margin-right: 0; }
#sec01 .txt03{text-align: center;
  font-size: 16px; color: #777;margin-top: 40px; margin-bottom: 10px; }
#sec01 .txt04{font-size: 20px; color: #777; margin-bottom: 15px;
height: 74px; font-weight: bold;text-align: center;}

#sec02{text-align: center;padding: 150px 0;
background: url(../img/sec04bg.png) no-repeat 0 380px;
background-size: auto 55%;}
/* background-image: url(../이미지/sub_sec02bg.png);
background-position:0 40%;
background-repeat:no-repeat;
height: 401px;} */
#sec02 .txt01{font-size: 25px; color: #1058c7; margin-bottom: 20px;}
#sec02 .txt02{font-size: 17px;}
#sec02 ul{position: relative;}

#sec02 ul li{width: 80%;  margin:0 10% 170px; padding-top: 50px;}
#sec02 ul li .txtin{text-align: left;}
/* #sec02 ul li:nth-child(2n){margin-right: 0;} */
#sec02 ul li h3{font-size: 20px; margin-top: 18px; color: #4d4848;}
#sec02 ul li p{height: 25px; margin: 15px 0 25px; }
#sec02 ul li p span{font-size: 14px; display: block; color: #777; }
#sec02 ul li a{font-size: 12px; display: block;  float: left;
border: 1px solid #ff6f53; color: #ff6f53;
text-align: center; width: 120px; height: 35px; line-height: 35px; }
#sec02 ul li a:last-child{border: 0; background-color: #ff6f53; color: #fff;
margin-left: 10px;}
#sec02 ul li:nth-child(2){margin-bottom: 110px;}
#sec02 ul li:nth-child(3), #sec02 ul li:nth-child(4){display: none;}
#sec02 ul .more{display: block; background: url(../img/more.png) no-repeat center;
   height: 40px;background-size: 40px; color: transparent; font-size: 0; margin-top: 200px;
   }
   #sec03{margin-bottom: 70px;}
   #sec03 .inner{border-top: 1px solid #777; margin: 0 auto; position: relative; }
   #sec03 h4{font-size: 25px; color: #777 ; font-weight: normal; margin-top: 25px;
   padding-left:0;}
   #sec03 ul{margin-top: 60px; padding:0; overflow: hidden;}
   #sec03 ul li{float: left ; width:50%; margin-right:0; position: relative; }
   #sec03 ul li:last-child{margin-right: 0; display: none;}
   #sec03 ul li:nth-child(2){margin-right: 0;}
   #sec03 ul li p{font-size: 10px; color: #fff;
   position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);
   }
   #sec03 a.next{display: block;
    background: url(../img/pre.png) no-repeat 7px center; 
    background-size: 10px;
     background-color: gainsboro;
    color: transparent;
    font-size: 0; width: 25px ; height: 25px; border-radius: 50%; 
  position: absolute; top:170px; left: 175px; }

   
   #sec04{margin-bottom: 100px;}
   #sec04 .inner{border-top: 1px solid #777; margin: 0 auto; position: relative; }
   #sec04 h4{font-size: 25px; color: #777 ; font-weight: normal; margin-top: 25px;
   padding-left: 0;}
   #sec04 .large-12{margin-top: 40px; padding: 0;}
   #sec04 .item{ position: relative;}
   
   
   #sec04 .item p{font-size: 16px; color: #fff;
   position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);
   }
footer{padding: 0 ; background-color: #344646; height: 200px;}
footer .f_info{padding: 15px 0 10px 70px; border-bottom: 1px solid #fefcfc;}
footer .f_info li{float: left; margin-right: 20px; }
footer .f_info li:nth-child(5), footer .f_info li:nth-child(6), footer .f_info li:nth-child(7){display: none;}
footer .f_info li:last-child{margin-right: 0;}
footer .f_info li a{font-size: 12px; color:#fefcfc}
footer .f_cor{padding:2px 70px  ;}
footer .f_cor li{display: inline-block; margin-right: 10px; 
font-size: 11px; color: #747171;}
footer p{font-size: 11px; color: #747171; padding: 10px 70px 2px ;}
footer p:last-child{padding-top: 5px;} 
:root {
  --swiper-theme-color: #6173d8;
  --swiper-navigation-size: 30px;
} 
.leftWrap{width:300px; height: 100%; position: fixed; top: 0; right:-300px;
  background-color:#fff;
  z-index: 100;}
  .close1{display: block; width:40px ; height:40px ; border-radius: 50%; position: absolute; top: 20px;left: 20px;
  background-color: #fff; color: transparent; font-size: 0;}
  .close1::after{content: 'X'; font-size: 20px; color: #666; line-height: 40px;
  display: block; text-align: center; font-weight: bold;}    
  .menuWrap{
    margin-top: 60px;
    margin-left: 20px;
  }
  .menuWrap li a{
    background: url(../img/arrow.png) no-repeat 120px 0;
    background-size: 40px;
    display: block;
    padding: 8px;
    font-size: 17px;
   
    width: 200px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .menuWrap li:hover a{
    background-size: 60px;
    background-position: 118px -10px;
  }
  .quick_menu{
    margin-top: 25px;
    margin-left: 80px;
  }
  .quick_menu .search{width: 200px;border:1px solid rgb(129, 106, 106);
    position: relative; }
  .quick_menu .search > input{width: 160px;height: 30px; border: none; 
   outline: none;padding-left: 10px;}
  .quick_menu .search > a{width: 35px; height: 30px;display:block;
    text-indent: -999999px;background: url(../img/search.gif) no-repeat center;
    position: absolute;top:0; right: 0;}
  .quick_menu a.login{
    display: block; margin-top: 20px;
   width: 100px;height: 32px;background-color: #0052b8;
    font-size: 14px;color: #fff;line-height: 32px;
    text-align: center;margin-left: 10px;}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper01 .swiper-button-next.slide_n, .swiper-button-prev.slide_n{
  top:50%;
 
}
.mySwiper .swiper-button-next, .swiper-button-prev{
  top:auto;
  bottom: 22%;
}
.mySwiper01 .swiper-pagination.slide_p{
  bottom: 90px !important;
  left: 0;
  width: 100%;
}
@media screen and (min-width:980px) {
 

  #wrap{ margin: 0 auto;}
  .inner{width: 980px; margin: 0 auto; position: relative;}
  header{height: 120px; padding: 30px 60px; position: relative;}
h1{height: 92px;}
h1 a{display: block; height: 62px; 
background-size: auto 62px;
}

header .menubar{display: block; position: absolute;
top:50px;right: 60px;}
header .menubar span{
width:36px; height: 4px; 
 margin: 10px 0;
transition: all 0.3s;}
 header .menubar:hover span{
  width: 50px;
}

header .menubar::before, header .menubar::after{content: '';
width:50px; height: 4px;}
  #slide{width: 100%; height: 460px; background-color: #96a3b7;
    margin-bottom: 128px;}
    .txtbox{position: absolute; top:140px;left: 0;}
    .txtbox .txt1{font-size: 25px; color:#0a2b49; margin-bottom: 18px;}
    .txtbox .txt2{color:#35197d; font-size: 35px; font-weight: bold;}
    .cardbox{position: absolute; top:30px; right: 0;
    background-color: #fff; width: 580px; height: 340px; padding: 20px 50px; }
    .cardbox .txt3{text-align: center; font-size: 16px;}
    .cardbox .txt4{text-align: center; font-size: 22px; color: #f12d68;
       font-weight: bold; margin-bottom: 29px;}
    .cardbox .txt5{font-size: 20px; color: #777; margin-bottom: 20px;}
    .cardbox .txtin{position: absolute; top:150px; left: 320px;}
    .cardbox .txtin a{display: block; background-color: #fea6ba; 
    font-size: 12px; color: #842d40; width: 80px; height: 30px;
    text-align: center; line-height: 30px; border-radius: 30px;  float: left;
    margin-right: 10px;}
    .card4{width: 45%;}
    #slide ul{padding: 20px 20px; border-top: 2px solid #96a3b7;
    margin-top: 30px; text-align: center;}
    #slide ul li{float: left; margin-right: 20px;}
    #slide ul li:last-child{margin-right: 0;}
    #slide ul li a{font-size: 12px; color: #737273;}
    #slide .btn{position: absolute; top:420px; left: 50%;
    transform: translateX(-50%);  }
    #slide button span{display:block; width: 30px; height: 20px; 
    border-radius: 30px; background-color: #fff; 
    color: transparent; font-size: 0; margin-right: 10px; float: left;}
    #slide button:last-child span{ display:block; 
    background-color: #fff; border-radius: 20px; width: 110px;
    height: 20px; margin-right: 0; float: left;}
    #sec01{text-align: center; margin-bottom: 120px;}
h2{font-size: 40px; margin-bottom: 40px;}
#sec01 .txt01{font-size: 35px; color: #1058c7; margin-bottom: 20px;}
#sec01 .txt02{font-size: 18px; margin-bottom: 55px;}
    #sec01 ul li:nth-child(2), #sec01 ul li:nth-child(1){display: block;}
    #sec01 ul li:nth-child(2){display: none;}
    #sec01 ul li{float: left ; width: 40%; margin:0 5%;
      border: 1px solid rgb(197, 189, 189);}
      #sec02{text-align: center; margin-bottom: 160px;}
/* background-image: url(../이미지/sub_sec02bg.png);
background-position:0 40%;
background-repeat:no-repeat;
height: 401px;} */
#sec02{text-align: center;padding: 150px 0;
  background: url(../img/sec04bg.png) no-repeat 0 420px;
  background-size: auto 63%;}
#sec02 .txt01{font-size: 35px; color: #1058c7; margin-bottom: 30px;}
#sec02 .txt02{font-size: 18px;}
#sec02 ul{position: relative;}
#sec02 ul li:nth-child(3), #sec02 ul li:nth-child(4){display: block;}

#sec02 ul li{width: 30%; float: left; margin:0 10%; padding-top: 80px;}
#sec02 ul li .txtin{text-align: left;}
/* #sec02 ul li:nth-child(2n){margin-right: 0;} */
#sec02 ul li h3{font-size:26px; margin-top: 18px; color: #4d4848;}
#sec02 ul li p{height: 50px; margin: 17px 0 19px; }
#sec02 ul li p span{font-size: 16px; display: block; color: #777; }
#sec02 ul li a{font-size: 12px; display: block;  float: left;
border: 1px solid #ff6f53; color: #ff6f53;
text-align: center; width: 120px; height: 30px; line-height: 30px;}
#sec02 ul li a:last-child{border: 0; background-color: #ff6f53; color: #fff;
margin-left: 10px;}
    #sec02 ul .more{display: none;}
    #sec03{margin-bottom: 150px;}
#sec03 .inner{border-top: 1px solid #777; margin: 0 auto; position: relative; }
#sec03 h4{font-size: 40px; color: #777 ; font-weight: normal; margin-top: 65px;
padding-left: 25px;}
#sec03 a.next{display: none;}
#sec03 ul{margin-top: 100px; padding:0 25px;}
#sec03 ul li{float: left ; width: 30%; margin-right: 5%; position: relative;}
#sec03 ul li:last-child{margin-right: 0; display: block;}
#sec03 ul li p{font-size: 20px; color: #fff;
position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);
}
#sec03 ul li:nth-child(2){margin-right: 5%;}


#sec04 .inner{border-top: 1px solid #777; margin: 0 auto; position: relative; }
#sec04 h4{font-size: 45px; color: #777 ; font-weight: normal; margin-top: 65px;
padding-left: 25px;}
#sec04 ul{margin-top: 100px; padding: 0 25px;}
#sec04 ul li{float: left ; width: 23%; margin-right: 2%; position: relative;}
#sec04 ul li:last-child{margin-right: 0;}
#sec04 ul li:nth-child(2), #sec04 ul li:nth-child(3), #sec04 ul li:nth-child(4){display:block;}
#sec04 ul li p{font-size: 12px; color: #fff;
position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);
}
footer{padding: 0 ; background-color: #344646; height: 300px;}
footer .f_info{padding: 40px 130px 20px 220px; border-bottom: 1px solid #fefcfc;}
footer .f_info li{float: left; margin-right: 26px; }
footer .f_info li:nth-child(5), footer .f_info li:nth-child(6), footer .f_info li:nth-child(7){display: block;}
footer .f_info li:last-child{margin-right: 0;}
footer .f_info li a{font-size: 16px; color:#fefcfc}
footer .f_cor{padding:5px 220px  ;}
footer .f_cor li{display: inline-block; margin-right: 10px; 
font-size: 15px; color: #747171;}
footer p{font-size: 15px; color: #747171; padding: 40px 220px 5px;}
footer p:last-child{padding-top: 5px;} 

.mySwiper .swiper-button-next, .swiper-button-prev {
  top: 50%;
  /* bottom: 22%; */
}
.mySwiper .swiper-button-next {
  right: 150px;
  left: auto;
}
.mySwiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 150px;
  right: auto;
}
.mySwiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: 100%;
}
.mySwiper01 .swiper-pagination.slide_p{
  bottom: 150px !important;
  left: 0;
  width: 100%;
}
}














@media screen and (min-width:1400px){
  

#wrap{ margin: 0 auto;}
.inner{width: 1400px; margin: 0 auto; position: relative;}

header{padding: 15px 75px; height: 120px; position: relative;}
h1 a{font-size: 0; color: transparent; 
display: block; height: 70px; background-image: url(../img/logo.png);
background-repeat: no-repeat; background-size:auto 70px ;}
nav{display: block;
  position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);} 
nav ul li{float: left; margin-right: 70px;}
nav ul li:last-child{margin-right: 0;}
nav ul li a{font-size: 22px; }


.submit{display: block;
  position: absolute; top:35px; right: 75px;}
.search{ height: 65px; width: 74px; color: transparent; font-size: 0;
background: url(../img/search.png) no-repeat; margin-right: 15px;
background-size: auto 45px;}
.login{height: 65px; width: 65px; color: transparent; font-size: 0;
  background: url(../img/login.png) no-repeat;background-size: auto 45px; }
  header .menubar{display: none;}

img{width: 100%;}  
#slide{width: 100%; height: 736px; background-color: #96a3b7;
margin-bottom: 128px;}
.txtbox{position: absolute; top:200px;left: 0;}
.txtbox .txt1{font-size: 40px; color:#0a2b49; margin-bottom: 40px;}
.txtbox .txt2{color:#35197d; font-size: 70px; font-weight: bold;}
.cardbox{position: absolute; top:70px; right: 0;
background-color: #fff; width: 750px; height: 469px; padding: 30px 60px; }
.cardbox .txt3{text-align: center; font-size: 20px;}
.cardbox .txt4{text-align: center; font-size: 30px; color: #f12d68;
   font-weight: bold; margin-bottom: 45px;}
.cardbox .txt5{font-size: 25px; color: #777; margin-bottom: 40px;}
.cardbox .txtin{position: absolute; top:180px; left: 400px;}
.cardbox .txtin a{display: block; background-color: #fea6ba; 
font-size: 20px; color: #842d40; width: 137px; height: 50px;
text-align: center; line-height: 50px; border-radius: 30px;  float: left;
margin-right: 20px;}
.card4{width: 45%;}
#slide ul{padding: 30px 35px; border-top: 2px solid #96a3b7;
margin-top: 60px; text-align: center;}
#slide ul li{float: left; margin-right: 25px;}
#slide ul li:last-child{margin-right: 0;}
#slide ul li a{font-size: 16px; color: #737273;}
#slide .btn{position: absolute; top:630px; left: 50%;
transform: translateX(-50%);  }
#slide button span{display:block; width: 45px; height: 30px; 
border-radius: 20px; background-color: #fff; 
color: transparent; font-size: 0; margin-right: 10px; float: left;}
#slide button:last-child span{ display:block; 
background-color: #fff; border-radius: 20px; width: 150px;
height: 30px; margin-right: 0; float: left;}


#sec01{text-align: center; margin-bottom: 235px;}
#sec01 ul li:nth-child(2), #sec01 ul li:nth-child(1){display: block;}
#sec01 ul li{margin-left: 0;}
h2{font-size: 40px; margin-bottom: 80px;}
#sec01 .txt01{font-size: 50px; color: #1058c7; margin-bottom: 25px;}
#sec01 .txt02{font-size: 25px; margin-bottom: 105px;}
#sec01 ul li{float: left ; width: 30%; margin-right: 5%;
  border: 1px solid rgb(197, 189, 189);}
#sec01 ul li:last-child{margin-right: 0;}
#sec01 .txt03{font-size: 20px; color: #777;margin-top: 80px; margin-bottom: 10px; }
#sec01 .txt04{font-size: 30px; color: #777; margin-bottom: 70px;
height: 74px; font-weight: bold;}

#sec02{text-align: center;padding: 150px 0;
  background: url(../img/sec04bg.png) no-repeat 0 520px;
  background-size: auto 67%;}
/* background-image: url(../이미지/sub_sec02bg.png);
background-position:0 40%;
background-repeat:no-repeat;
height: 401px;} */
#sec02 .txt01{font-size: 50px; color: #1058c7; margin-bottom: 30px;}
#sec02 .txt02{font-size: 25px;}
#sec02 ul{position: relative;}
#sec02 ul li:nth-child(3), #sec02 ul li:nth-child(4){display: block;}

#sec02 ul li{width: 30%; float: left; margin:0 10%; padding-top: 150px;}
#sec02 ul li .txtin{text-align: left;}
/* #sec02 ul li:nth-child(2n){margin-right: 0;} */
#sec02 ul li h3{font-size: 35px; margin-top: 37px; color: #4d4848;}
#sec02 ul li p{height: 50px; margin: 30px 0 30px; }
#sec02 ul li p span{font-size: 20px; display: block; color: #777; }
#sec02 ul li a{font-size: 20px; display: block;  float: left;
border: 1px solid #ff6f53; color: #ff6f53;
text-align: center; width: 180px; height: 50px; line-height: 50px;}
#sec02 ul li a:last-child{border: 0; background-color: #ff6f53; color: #fff;
margin-left: 10px;}


#sec03{margin-bottom: 150px;}
#sec03 .inner{border-top: 1px solid #777; width: 1400px; margin: 0 auto; position: relative; }
#sec03 h4{font-size: 45px; color: #777 ; font-weight: normal; margin-top: 65px;
padding-left: 0;}
#sec03 a.next{display: none;}
#sec03 ul{margin-top: 100px; padding: 0;}
#sec03 ul li{float: left ; width: 30%; margin-right: 5%; position: relative;}
#sec03 ul li:last-child{margin-right: 0;}
#sec03 ul li p{font-size: 20px; color: #fff;
position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);
}


#sec04 .inner{border-top: 1px solid #777; width: 1400px; margin: 0 auto; position: relative; }
#sec04 h4{font-size: 45px; color: #777 ; font-weight: normal; margin-top: 65px;
}
#sec04 ul{margin-top: 100px;}
#sec04 ul li{float: left ; width: 24%; margin-right: calc(4% /3); position: relative;}
#sec04 ul li:last-child{margin-right: 0;}
#sec04 ul li p{font-size: 16px; color: #fff;
position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);
}

footer{padding: 0 ; background-color: #344646; height: 300px;}
footer .f_info{padding: 40px 0 20px 270px; border-bottom: 1px solid #fefcfc;}
footer .f_info li{float: left; margin-right: 70px; }
footer .f_info li:last-child{margin-right: 0;}
footer .f_info li a{font-size: 16px; color:#fefcfc}
footer .f_cor{padding:5px 270px  ;}
footer .f_cor li{display: inline-block; margin-right: 10px; 
font-size: 15px; color: #747171;}
footer p{font-size: 15px; color: #747171; padding: 40px 270px 5px;}
footer p:last-child{padding-top: 5px;} 




}








  